body {
    background-color: #E3E8FF;
}
h1 {
    overflow: hidden;
    border-right: .15em solid #A190FF;
    white-space: nowrap;
    letter-spacing: .15em; 
    animation: 
        typing 3.5s steps(35, end),
        blink-caret .75s step-end infinite;
    height: 40px;
    width: 558px;
    color: white;
    text-shadow: 2px 2px 2px #A190FF;
    
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #A190FF; }
}

.animateMePls {
    width: 100px;
    height: 100px;
    background-color: #4E4C67;
    position: relative;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
    letter-spacing: .07em;
}
.animateMePls:hover {
    animation-name: myFirstAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 200ms;
    animation-direction: alternate;
}
@keyframes myFirstAnimation {
    0% {
        background-color: #4E4C67;
        left: 0px;
    }
    25% {
        background-color: #985F6F;
        left: 100px;

    }
    50% {
        background-color: #B4869F;
        left: 200px;
    }
    75% {
        background-color: #A6B1E1;
        left: 300px;
    }
    100% {
        background-color: #C8D2FF;
        left: 400px;
    }
}
.translateMe, .rotateMe2, .rotateMe3, .skewMe {
    transition-duration: 2s;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
    letter-spacing: .07em;
}
.translateMe {
    background-color: #985F6F;
}
.translateMe:hover {
    transition-duration: 2s;
    transform: translate(400px,0px);
}
.rotateMe2 {
    background-color: #B4869F;
}
.rotateMe2:hover {
    transition-duration: 2s;
    transform: rotate(180deg);
}
.rotateMe3 {
    background-color: #A6B1E1;
}
.rotateMe3:hover {
    transition-duration: 2s;
    transform: rotateX(180deg);
}
.skewMe {
    background-color: #C8D2FF;
}
.skewMe:hover {
    transform: skew(-20deg, -20deg);
}
