body {
    background-image: url("https://media.giphy.com/media/7Rx1bEIzPXLOM/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-family: "Chewy";
    color:white;
    text-align: center;
    margin-top: 100px;
    font-size: 70px;
    animation-name: colorText;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes colorText {
    0% {color: white;}
    14% {color: red;}
    28%{color: orange;}
    42%{color: yellow;}
    60%{color: green;}
    74%{color: blue;}
    88%{color: purple;}
    100%{color:white;}
}
img {
    width: 100%;
}
.block1, .block2 {
    top: 10px;
    width: 19%;
    position: absolute;
    transition-duration: 2s;
}
.block2 {
    left: 80%;
}
.reallybig {
    top: 220px;
    width: 50%;
    left: 25%;
    position: absolute;
    transition-duration: 2s;
}
.block1:hover, .block2:hover {
    transform: rotate(360deg);
    
}
.reallybig:hover {
    filter: grayscale(100%);
}